/ A Modern Room Text Game App Interface

%div#todoapp
  %div.title
    %h1
      A Modern Room
      %div.content
        %div.locations
          %ul#top-nav
          %div#reset reset
        %div.resources
          %ul#right-nav
        %div.events
          %ul#left-nav
        %div#actions
          %ul#action-list

  


