/ A Modern Room Text Game App Interface

%div#todoapp
  %div.title
    %h1
      A Modern Room
      %div.content
        %div.locations
          %ul#top-nav
        %div.resources
          %ul#right-nav
        %div.events
          %ul#left-nav
        %div#create-todo
          %input#new-todo{"placeholder" => "What's your name?", "type" => "text"}/
          %span.ui-tooltip-top{"style" => "display:none;"} Press Enter to continue
        %div#todos
          %ul#todo-list
        %div#actions
          %ul#action-list
        %div#todo-stats
  </div>


